export(NexusBioClient)
importFrom(R6,R6Class)
importFrom(httr2,request)
importFrom(httr2,req_headers)
importFrom(httr2,req_body_json)
importFrom(httr2,req_perform)
importFrom(httr2,req_timeout)
importFrom(httr2,req_url_query)
importFrom(httr2,resp_body_json)
importFrom(httr2,resp_body_string)
importFrom(httr2,resp_header)
importFrom(httr2,resp_status)
